
/* Document Colors
  green:rgb(134,140,108)
  blue:rgb(107,132,155)
  gray:rgb(144,149,159)
*/



/* navigation bar */
.navbar a {
   float: center;
  display: block;
  color: saddlebrown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: goldenrod;
  color: white;
}

/*Text */

h1 {
  color: black;
  font-family: 'American Typewriter', serif;
  font-size: 50px;
  text-align: center;
}

h4 {
  color: black;
  font-family: 'American Typewriter', serif;
  font-size: 30px;
  text-align: center;
}

p {
  color: black;
  font-family: 'American Typewriter', serif;
  font-size: 18px;
  text-align: center;
}

body {
  background-image: url("FlowerFrame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: floralwhite;
}

/* Grid rules */

.grid-container {
  display: grid;
  gap: 10px;
  background-color: none;
  padding: 10px;
}

.grid-item {
  background-color: none;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 1;
}

.item5 {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.item6 {
  grid-column: 3 / span 1;
  grid-row: 2;
}

.item7 {
  grid-column: 1 / span 1;
  grid-row: 3;
}


