
/* Background */
body {
  background-color: none;
}


/* Button */
.button1 {
  background-color: Lightcoral;
  border: none;
  font-family: 'American Typewriter', serif;
  color: floralwhite;
  padding:20px 50px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Text */
h1 {
  color: Lightcoral;
  font-family: 'American Typewriter', serif;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 10px;
